* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    /* align-items: center; */
    padding: 20px;
    /* position: fixed; */
}

.navbar a i {
    font-size: 30px;
    color: #563434;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: rgb(239, 135, 135);

}

p {
    color: #555;
}

/* index page */

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.container menu {
    justify-content: space-between;
}   

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 80%;
    padding: 30px 20px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 15px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.header {
    background-color: #ffd6d6;
    background: radial-gradient(white, #ffd6d6);
}

.header .row {
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 75px;
    color: #555;
}

.title::after {
    content: " ";
    background: #ff523b;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}








.counterbox{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    /* top: 60%; */
    left: 50%;
    transform: translate(-50%,-50%);
}
.col{
    flex-basis: 22%;
    text-align: center;
    color: #555;
}
.counter-box{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px -4px #66676c;
}
.counter{
    display: inline-block;
    margin: 15px 0;
    font-size: 50px;
    color: #000;
}
.counter-box .fa{
    font-size: 40px;
    color: #009688;
    display: block;
}


/* ========== FOR OFFER ==========*/

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 80px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}


/* ========== FOR TESTIMONIAL ==========*/

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


/* ========== FOR BRANDS ==========*/

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0%);
}


/* ========== FOR FOOTER ==========*/

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 25px 0 1px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 10px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 200px;
    margin-bottom: 5px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 150px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* ========== ALL PRODUCT PAGE ==========*/

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
    width: 10px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 40px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    justify-content: center;
    border-radius: 20%;
}

.page-btn span:hover {
    background: #ff523b;
    color: #fff;
    transition: border;
}


/* .menuitem {
    border: 1px solid black;
} */

.menuitem {
    display: block;
    /* flex-basis: 30%; */
}

.aaaa {
    display: flex;
    flex-direction: row;
}


/*========== PRODUCT ==========*/
.list-product {
    max-width: 1200px;
    width: 90%;
    margin-inline: auto;
}

.ini-ul li {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 27px;
    display: grid;
    margin-bottom: 1rem;
    flex-direction: column;
    max-width: 350px;
    margin-inline: auto;
    grid-template-rows: 1.5fr 1fr 100px;
    grid-template-rows: 250px 180px 120px;
    overflow: hidden;
    font-size: 14px;

}

.button {
    padding: 5px 10px;

}

.button button, .button a {
    display: block;
    margin-bottom: 10px;
    width: 180px;
    margin-inline: auto;
    background-color: #ffd6d6;
    border: none;
    border-radius: 7px;
}

.button button {
    padding: 10px 2px;
    font-size: 14px;
}


.items {
    padding: 10px;
}

.items a button {
    /* align-items: flex-start; */
    text-align: end;
}

.eee .gambar-li {
    display: block;
    object-fit: cover;
    margin-inline: auto;
    height: 100%;
}

.eee {
    overflow: hidden;
    object-fit: cover;

}

/*========== Check Out ==========*/
.konten .container table {
    border-collapse: collapse;
    border: 2px solid black;
}

.konten .container table tr th {
    border: 2px solid black;
    padding: 8px 25px;
}

.konten .container table thead tr {
    background-color: rgb(239, 135, 135);

}

.konten .container table tbody tr td {
    padding: 8px;
}

#bruh {
    background-color: rgb(239, 135, 135);
    padding: 8px 8px;
}

.konten {
    margin-bottom: 121px;
}

.table {
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
}

.konten .container a button {
    background-color: rgb(239, 135, 135);
    ;
    border-color: black;
    color: black;
    padding: 3px;
    margin-right: 10px;
    border-radius: 7px;
    margin-inline: auto;
}

.konten .container table tbody tr td a button {
    background-color: rgb(243, 25, 25);
    border-color: black;
    color: black;
    padding: 3px;
    margin-right: 10px;
    border-radius: 7px;
    margin-inline: auto;
}




/*========== LOGIN ==========*/
.hero {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 500px;
    position: relative;
    background: #fff;
    margin: 75px auto 10px;
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 190px;
    margin: 35px auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#login-button {
    padding-right: 40px;
    padding-left: 27px;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 90px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

.input-group span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

/*========== CHECK OUT ==========*/
.data-pembeli {
    /* text-align: center; */
    margin-left: 320px;
    /* border: 1px solid black; */
    width: 50%;
    /* padding: 5px; */

}

.data-pembeli input {
    /* margin-right: ; */
    /* background-color:#e8b7b7; */
    border-radius: 5px;
    border: none;
    font-size: 17px;
    margin: 10px;
    /* border: 1px solid black; */
}

.data-pembeli select {
    padding: 5px;
    width: 50%;
}

.checkout {
    padding: 3px;
    background-color: rgb(102, 243, 102);
    border: none;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-left: 20px;
}

.id_payment {
    margin-top: 10px;
}

/*========== ADD NEW PRODUCT ==========*/


.image-background {
    /* background-image: url(./img/banner.jpg); */
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/wallpaper.jpg);
}

.form-box-add {
    width: 380px;
    height: 600px;
    position: relative;
    background: #fff;
    margin: 15px auto;
    padding: 50px;
    overflow: hidden;
    border-radius: 10% 10px 0 0;
    border: 5px solid #999;
}

.input-group-add {
    top: 20px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

/* .insert-product{
} */

.insert-product input {
    width: 100%;
    /* background-color: #3cec36; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    /* border-bottom-left-radius: -5px; */
    /* position: absolute; */
}

.border input {
    border: none;
    border-left: 0;
    border-top: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 20px;
    font-size: 14px;
}

.border input:focus {
    outline: none;
}

.photo {
    border: none;
}

.btn-add-product {
    top: 0;
    left: 0;
    width: 110px;
    height: 30px;
    background: linear-gradient(to right, #75ff53, #fcff61);
    border-radius: 30px;
    position: relative;
    margin: 0 80px;
}

/*========== ADD NEW PRODUCT (PRODUCT PAGE)==========*/

.button-product-box {
    width: 190px;
    margin: 35px auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.button-product-box a button {
    background: linear-gradient(to right, #3cec36, #ffad06);
    border-radius: 10px;

}

.button-product-box a button:hover {
    background: linear-gradient(to right, #3cec36, #ffad06);
    border-radius: 10px;
    width: 190px;
}

/*========== ERROR PAGE ==========*/
.error-page {
    text-align: center;
}

.error-button button {
    background-color: var(--G500, #03AC0E);
    border: none;
    margin-top: 15px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    height: 35px;
    outline: none;
    position: relative;
    padding: 0px 16px;
    text-align: center;
}

.error-page img {
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
}

/*========== UPDATE PAGE ==========*/


.container-form-box-update {
    width: 380px;
    height: 800px;
    position: relative;
    background: #fff;
    margin: 15px auto;
    padding: 50px;
    /* overflow: hidden; */
    border-radius: 10% 10px 0 0;
    border: 5px solid #999;
}

.input-group-update {
    top: 20px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.insert-product form {
    display: inline-block;
}

.insert-product input {
    width: 100%;
    /* background-color: #3cec36; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    /* border-bottom-left-radius: -5px; */
    /* position: absolute; */
}

.border input {
    border: none;
    border-left: 0;
    border-top: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 20px;
    font-size: 14px;
}

.border input:focus {
    outline: none;
}

.btn-update-product {
    top: 0;
    left: 0;
    width: 110px;
    height: 30px;
    background: linear-gradient(to right, #75ff53, #fcff61);
    border-radius: 30px;
    position: relative;
    margin: 0 80px;
}

/*========== LIST-CUSTOMER PAGE ==========*/

.data-customer {
    font-weight: 500;
}

.table-list {
    margin: 20px 10px;
}

.input-group-update-customer {
    top: 40px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.container-form-box-update-customer {
    width: 380px;
    height: 350px;
    position: relative;
    background: #fff;
    margin: 55px auto;
    padding: 47px;
    /* overflow: hidden; */
    border-radius: 10% 10px 0 0;
    border: 5px solid #999;
}
.input-update{
    margin-top: 20px;
}



/*========== UPDATE PAGE ==========*/
/* .data-customer{
    font-weight: 100;
} */

/* ini untuk tablet */
@media screen and (min-width: 768px) {
    .ini-ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .ini-ul li {
        width: 100%;
    }
}

/* laptop */
@media screen and (min-width: 1024px) {
    .ini-ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .ini-ul li {
        height: 100%;
    }

}

/* lebih gede */
@media screen and (min-width: 1200px) {
    .ini-ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}